<h1>School Class Form</h1>
<%= form_for @school_class do |f| %>
  Title: <%= f.text_field :title, :html => {:id => "school_class_title"}%>
  Room Number: <%= f.text_field :room_number, :html => {:id => "school_class_room_number"} %>
  <%= f.submit %>
  <% end %>
